<form #emailForm="ngForm" (ngSubmit)="onSubmit()">
  <input
    type="email"
    pattern=".+@.+\..+"
    required
    name="email"
    [(ngModel)]="email"
    (input)="log()"
    #emailControl="ngModel"
  />

  <button [disabled]="emailForm.invalid">go</button>

  <ng-container *ngIf="emailControl.invalid && emailControl.touched">
    <div *ngIf="emailControl.errors.required" invalid email></div>
    <div *ngIf="emailControl.errors.pattern">enter valid email</div>
  </ng-container>
  <!-- 
  {{ emailForm.valid | json }}
  {{ emailForm.value | json }}
  {{ email }}
  <hr />
  {{ emailForm.controls.email.errors | json }} -->
</form>
